@{
    ViewData["Title"] = "Calculator";
}

<div class="text-center">
    <div class="container" id="c1">
        <h1 class="display-4">Welcome to My Fucking Caculator!</h1>
        <p>Learn about <a href="">Please Enter Your Number.</a>.</p>
        </hr>

        <h1>___Calculator___</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-16">
                <input type="text" id="result" style="max-width: 1920px !important;width: 100%;" />
                <div id="keypad">
                    <div class="row">
                        <span id="num7" class="col-sm-3 btn btn-default">๗</span>
                        <span id="num8" class="col-sm-3 btn btn-default">๘</span>
                        <span id="num9" class="col-sm-3 btn btn-default">๙</span>
                        <span id="Divide" class="col-sm-3 btn btn-info">/</span>
                    </div>
                    <div class="row">
                        <span id="num4" class="col-sm-3 btn btn-default">๔</span>
                        <span id="num5" class="col-sm-3 btn btn-default">๕</span>
                        <span id="num6" class="col-sm-3 btn btn-default">๖</span>
                        <span id="Mul" class="col-sm-3 btn btn-info">*</span>
                    </div>
                    <div class="row">
                        <span id="num1" class="col-sm-3 btn btn-default">๑</span>
                        <span id="num2" class="col-sm-3 btn btn-default">๒</span>
                        <span id="num3" class="col-sm-3 btn btn-default">๓</span>
                        <span id="Sub" class="col-sm-3 btn btn-info">-</span>
                    </div>
                    <div class="row">
                        @* <span id="num0" class="col-sm-3 btn btn-default"></span> *@
                        <span id="num0" class="col-sm-6 btn btn-info">๐</span>
                        <span id="Dec" class="col-sm-3 btn btn-default">.</span>
                        <span id="Add" class="col-sm-3 btn btn-info">+</span>
                    </div>
                    <div class="row">
                        <span id="mairu" class="col-sm-6 btn btn-default disabled"></span>
                        <span id="Clear" class="col-sm-3 btn btn-primary">CLEAR</span>
                        <span id="Equal" class="col-sm-3 btn btn-success">=</span>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>



</div>
